@import '~assets/styles/variables.scss';

@media screen and (max-width: 1400px){
  .home-page h2 {
    font-size: 2em;
  }
}

.mobile-menu {
  display: none;
  padding: 20px;
  justify-content: center;
  button {
    margin: 0 20px;
    border: none;
    color: $black;
    border-bottom: 1px solid $black;
    background-color: transparent;
    &:hover {
      border: 1px solid $black;
    }
  }
}

@media screen and (max-width: 1100px){
  #search-block.close {
    margin-top: -1.6em;
  }

  // в статье не отображается aside. Только в полноэкранном режиме
  .open-aside {
    position: fixed !important;
    height: 100vh;
    top: 0;
    right: 0;
    width: calc(100% - 80px) !important;
  }

  h1:before {
    display: none;
  }

  // сверху всегда отображается поиск (sticky) с вызовом aside
  // кнопка вызова сверху страницы (где поиск)

  .content-header div:nth-child(2) {
    height: 10em;
    width: 10em;
  }

  .articles .one-article {
    width: 100%;
    display: block;

    .photo {
      float: right;
    }
  }

  .about {
    display: block;
    .contacts {
      max-width: 100%;
    }
  }

  .help-page {
    padding: 0;
  }
  .conspectus {
    font-size: 4em !important;
  }
  #search-block {
    height: 2em;
  }

  main.home {
    padding: 0 1em;
  }
  .home-page .main-section {
    padding: 1em 2em 3em 2em;
  }

  .guide-page > ol > li:before {
    font-size: 2em;
  }

  .article-page .under-cont {
    padding: 0;
    .comments {
      margin: 20px;
      max-width: 100%;
    }
    .sim-arts {
      margin: 20px;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 900px){

  .home {
    padding: 0 !important;
  }

  .content-header div:nth-child(2) {
    display: none;
  }

  .articles .one-article {
    width: 100%;
    display: block;

    .photo {
      float: none;
      width: 100%;
      margin-left: 0;
      img {
        max-width: 100%;
      }
    }
  }

  .guide-page > .content-header > div:nth-child(2) {
    width: 3em;
    height: 3em;
    font-size: 2em;
    box-shadow: 8px 8px $black;
    min-width: 150px;
    &:hover {
      box-shadow: -8px -8px $black;
    }
  }

  .guide-page ol > li {
    flex-direction: column;
  }

  .guide-page > ol > li:before {
    padding: 0;
  }

  .articles .arts-header {
    display: block;
  }

}

@media screen and (max-width: 800px){
  // уменьшаем паддинги
  .article-page article h1 {
    margin: 40px 20px 10px 20px;
    font-size: 3em;
  }

  .article-page article section {
    padding: 20px;
  }

  .content-header {
    padding: 20px 0;
    margin: 0 20px;
  }

  .guides-content {
    padding: 0.6em 20px;
    > div {
      margin: 1em 0 !important;
    }
  }

  .guide-page ol {
    padding: 20px;
  }

  .articles .content {
    padding: 1em 20px;
  }
  .articles .sort-block {
    margin: 1em 0;
  }
  .articles .one-article {
    box-shadow: none;
    margin: 1em 0;
  }

  .library-content {
    padding: 1em 20px;
  }

  .about .main-section {
    padding: 1.5em 20px;
  }

  .help-page > div {
    padding: 1em 20px;
  }

  .help-page ol > li:before {
    padding: 0;
  }

  .help-page details form input, .help-page details form textarea {
    margin: 0.5em;
  }
}

@media screen and (max-width: 700px){
  .mobile-menu {
    display: flex;
  }
  .open-aside {
    width: 100% !important;
  }
  #little-menu {
    display: none;
  }
  .about .contacts {
    min-width: 300px;
  }
  .article-page .under-cont .comments,
  .article-page .under-cont .sim-arts {
    min-width: 300px;
  }

  .guides-content {
    display: block;
  }

  .guides-content .front-end,
  .guides-content .back-end {
    min-width: 200px;
  }

  .about .contacts h3 {
    font-size: 1em;
  }
  h1 {
    font-size: 3em;
  }
  .conspectus {
    font-size: 3em !important;
  }
  .home-page .main-section {
    padding: 1em 10px 3em 10px;
  }
}
