@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

$white1: #eeeeee;
$white2: #dedede;
$white3: #c1c1c1;

$black: #1f1f1f;
$black2: #3d3d3d;
$black3: #1f1f1f;

$font-1: 'EB Garamond', serif;
$font-2: 'PT Mono', serif;
$font-3: 'Oswald', sans-serif;

.font-style-1 {
  font-family: $font-1;
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 0.01em;
}

.font-style-2 {
  font-family: $font-3;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.font-style-3 {
  font-family: $font-1;
  font-weight: 400;
  font-size: 19px;
  letter-spacing: 0.03em;
}

.font-style-4 {
  font-family: $font-1;
  font-weight: 400;
  font-size: 1.1em;
  font-style: italic;
}

.font-style-5 {
  font-family: $font-1;
  font-weight: 600;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}